<h1> Please Enjoy a Burger! </h1>

<div class="flex-container">
<ul class="undevoured">
  <h3> To eat! </h3>
  {{#each burgersFalse}}
<li><p class="p"> {{this.id}}. {{this.burger_name}}     <button class="devour style-btn"  data-id="{{this.id}}" data-devoured="{{this.devoured}}"> devour </button></p></li>

  {{/each}}
</ul>

<ul class="devoured">
  <h3> Already Eaten! </h3>
  {{#each burgersTrue}}
<li><p class="p"> {{this.id}}. {{this.burger_name}}     </p></li>
{{/each}}
</ul>
</div>




<div class="wrap-add">
<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button id="submit-burger" class="style-btn" type="submit">Add Your Burger</button>
</form>
</div>